.category {
    background-color: #fff;
    padding: 14px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 6px 12px;
    align-items: center;
    text-align: center;
    height: 80px;
    gap: 50px;

}

.Glocery,
.Mobile,
.Appliances,
.Travel {
    cursor: pointer;
}

.categoryitem {
    display: flex;
    flex: wrap;
    flex-direction: column-reverse;
    font-size: 12px;
    padding: 0, 0, 5px, 0px;
}

.categoryitem>img {
    height: 50px;
    width: fit-content;
    margin-bottom: 10px;
}