@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html,
body {
  background-color: #f1f2f4;

}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}